<p>
  <strong>His name : </strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price</strong>
  <%= @item.price %>
</p>


# changement, j'ai retiré (@item) qui était à la suite de ... adding_path(user), ...

<% if user_signed_in? %>
  <div class="block2-btn-addcart w-size1 trans-0-4">
  <!-- Button -->
			<%= link_to adding_path(@item), method: 'post' do %> 
			<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
          Ajout panier
      </button>
			<%end%>
<% else%>
	<div class="w-size1 trans-0-4" style="margin-top:50%;margin-left:23%;">
	<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
			<%= link_to "Connexion", new_user_session_path %>
	</button>
<%end%>