<main role="main">

<h2>Vous la voulez en HD? Ajoutez-la à votre panier</h2>

		<div class="album py-5 bg-light">
				<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="card mb-4 box-shadow">
									<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="<%= @item.image_url %>" data-holder-rendered="true">
									<div class="card-body">
										<p>
											<strong>His name : </strong>
											<%= @item.title %>
										</p>

										<p>
											<strong>Description:</strong>
											<%= @item.description %>
										</p>

										<p>
											<strong>Price</strong>
											<%= @item.price %>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<% if user_signed_in? %>
												<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
														<%= link_to adding_path(@item), method: 'post' do %> 
														<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
																Ajout panier
														</button>
														<%end%>
											<% else%>
												<div class="w-size1 trans-0-4" style="margin-top:50%;margin-left:23%;">
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														<%= link_to "Connexion", new_user_session_path %>
												</button>
											<%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
		</div>
</main>
